body {
    background-color: #ffffff; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1 {
    opacity: 1;
    position: relative;
    color: #112255;
    font-family:  'Helvetica', sans-serif;
    font-size: 3.1em;
    text-align: center;
    width: 100%;
    max-width: 896px;
    text-shadow: 1px 1px #00f801, -1px 1px #00f801, 1px -1px #00f801, -1px -1px #00f801;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
    top: -1em;
}

h2 {
    position: relative;
    color: #112255;
    font-family:  'Helvetica', sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px #00f801, -1px 1px #00f801, 1px -1px #00f801, -1px -1px #00f801;
    letter-spacing: 0.15em;
}

p, ul {
    position: relative;
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: #112255;
    font-family:  'Helvetica', sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.6em;
    text-shadow: 1px 1px #00f801, -1px 1px #00f801, 1px -1px #00f801, -1px -1px #00f801;
    letter-spacing: 0.15em;
}

a {
    position: relative;
    color: #112255;
    font-family:  'Helvetica', sans-serif;
    font-size: 1.1em;
    text-shadow: 1px 1px #00f801, -1px 1px #00f801, 1px -1px #00f801, -1px -1px #00f801;
    letter-spacing: 0.15em;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 534px;
}

iframe {
    opacity: 1;
}

.bg {
    position: fixed;
    width: 100%;
}

.intro {
    position: relative;
    width: 100%;
    max-width: 896px;
    height: auto;
    margin-top: 6em;
    margin-bottom: 16em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.box {
    position: relative;
    width: 100%;
    max-width: 896px;
    height: auto;
    margin-top: 10em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.container{
    position: relative;
    width: 100%;
    max-width: 768px;
    height: auto;
    margin-top: 5em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin-bottom: 1.6em;
}
